
nb-configuration.xml

target/WebapisServices-1.0-SNAPSHOT/META-INF/context.xml

target/WebapisServices-1.0-SNAPSHOT.war

target/WebapisServices-1.0-SNAPSHOT/WEB-INF/classes/apis.application.properties

target/WebapisServices-1.0-SNAPSHOT/WEB-INF/classes/log4j.properties

target/WebapisServices-1.0-SNAPSHOT/WEB-INF/classes/.netbeans_automatic_build

target/WebapisServices-1.0-SNAPSHOT/WEB-INF/classes/META-INF/persistence.xml

*.class

*.jar

target/classes/.netbeans_automatic_build

target/WebapisServices-1.0-SNAPSHOT/WEB-INF/web.xml

target/WebapisServices-1.0-SNAPSHOT/index.jsp

target/classes/META-INF/persistence.xml

target/classes/apis.application.properties

target/classes/log4j.properties

target/generated-sources/annotations/nl/hsleiden/webapi/model/Employee_.java

target/generated-sources/annotations/nl/hsleiden/webapi/model/Employees_.java

target/generated-sources/annotations/nl/hsleiden/webapi/model/Images_.java

target/generated-sources/annotations/nl/hsleiden/webapi/model/Student_.java

target/generated-sources/annotations/nl/hsleiden/webapi/model/Students_.java

target/maven-archiver/pom.properties
